<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>IP WebShop</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="/">IP WebShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbarTop">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbarTop">
        <ul class="navbar-nav mr-auto">
            {{#if userAdmin}}
                <li class="nav-item">
                    <a class="btn btn-outline-light mr-sm-2" href="/adminPanel">Admin panel</a>
                </li>
            {{/if}}
            {{#if userUser}}
                {{#if currentUser}}
                    {{#each currentUser}}
                        <li class="nav-item">
                            <a class="btn btn-outline-light mr-sm-2" href="/userPanel/{{this.uid}}">User panel</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-light mr-sm-2" href="/userPanel/cart/{{this.uid}}">Cart <span
                                    class="badge badge-info">{{cartSize}}</span></a>
                        </li>
                    {{/each}}
                {{/if}}
            {{/if}}
            {{#if noUser}}
                <li class="nav-item">
                    <a class="btn btn-outline-light mr-sm-2" href="/loginForm">Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-light mr-sm-2" href="/registerNewUser">Register</a>
                </li>
            {{/if}}
            {{#if userStatus}}
                <li class="nav-item">
                    <a class="btn btn-outline-light mr-sm-2" href="/logout">Logout [{{#if welcomeUser}}{{welcomeUser}}
                        - {{userStatus}}{{/if}}]</a>
                </li>
            {{/if}}
        </ul>
        <form class="form-inline mr-sm-2" action="/restore" method="post">
            <button class="btn btn-outline-light" type="submit" name="btnClear" id="btnClear">Clear</button>
        </form>
        <form class="form-inline" action="/search" method="post">
            <input class="form-control mr-sm-2" type="text" name="searchBox" id="searchBox" placeholder="Search"
                   {{#if term}}value="{{term}}"{{/if}}>
            <button class="btn btn-outline-info" type="submit" name="btnSearch" id="btnSearch">Search</button>
        </form>
    </div>
</nav>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbarBottom">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbarBottom">
        <ul class="navbar-nav mr-auto">
            <form class="form-inline mr-sm-2">
                <select class="custom-select" name="sortProductsAjax" id="sortProductsAjax">
                    <option value="default" selected>Sort with AJAX</option>
                    <option value="nameAsc">Name ascending</option>
                    <option value="nameDesc">Name descending</option>
                    <option value="priceAsc">Price ascending</option>
                    <option value="priceDesc">Price descending</option>
                </select>
            </form>
        </ul>
        <form class="form-inline" action="/sort" method="post">
            <select class="custom-select mr-sm-2" name="sortProducts" id="sortProducts">
                {{#if clear}}
                    <option value="default" selected>Choose sort</option>
                {{/if}}
                {{#if sort}}
                    <option value="{{#if sortBy}}{{sortBy}}{{/if}}" selected>{{sort}}</option>
                {{/if}}
                <option value="nameAsc">Name ascending</option>
                <option value="nameDesc">Name descending</option>
                <option value="priceAsc">Price ascending</option>
                <option value="priceDesc">Price descending</option>
            </select>
            <button class="btn btn-outline-light" type="submit" name="btnSort" id="btnSort">Sort with Java</button>
        </form>
    </div>
</nav>
<div class="container" style="margin-top:70px; margin-bottom:70px">
    {{#if messageJson}}
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{messageJson}}</strong>
        </div>
    {{/if}}
    {{#if userNotFound}}
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{userNotFound}}</strong>
        </div>
    {{/if}}
    {{#if addToCart}}
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{addToCart}}</strong>
        </div>
    {{/if}}
    {{#if messageSearchFound}}
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{messageSearchFound}}</strong>
        </div>
    {{/if}}
    {{#if messageSearchEmpty}}
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{messageSearchEmpty}}</strong>
        </div>
    {{/if}}
    {{#if messageSearchNotFound}}
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{messageSearchNotFound}}</strong>
        </div>
    {{/if}}
    <div class="row" id="contentDiv">
        {{#if products}}
            {{#each products}}
                <div class="col-sm-4 mt-3">
                    <div class="card bg-light border-secondary text-center">
                        <div class="card-header border-secondary">
                            <h3>{{this.name}}</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><a href="#" data-toggle="tooltip" data-placement="top"
                                                    title="{{this.info}}">more info...</a></p>
                        </div>
                        <div class="card-footer border-secondary">
                            <p class="card-text">{{this.category.name}}</p>
                        </div>
                        <div class="card-footer bg-transparent border-secondary">
                            <p class="card-text">&euro;{{this.price}}</p>
                        </div>
                        {{#if userUser}}
                            <div class="card-footer border-secondary text-center" id="action">
                                <form action="/cart/add/{{this.pid}}" method="post">
                                    <button class="btn btn-outline-info" type="submit">Add to cart</button>
                                </form>
                            </div>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>
<script src="http://127.0.0.1:5000/js/sort-ajax.js"></script>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});


</script>
</body>
</html>